<!DOCTYPE html>
<html>
<head>
  <title>Portfolio: Emily Storey</title>
   <div class="topnav">
    <nav>
      <ul>
        <li><a class="active" href="#welcome">Welcome</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
  </div> 
</head>
<body>

  <p>
  Hello. My name is Emily Storey. I am a data scientist and full-stack software developer.
  <br><br>
  <button type="button">View my Work</button> 
  </p> 
  
</body>
<footer>
  <ul>
    <li><img src="./assets/linkedin.png"></li>
    <li><img src="./assets/github.png"></li>
    <li>Copyright the Author: <a href="mailto:emily@escarpmentlabs.com">Emily Storey</a></li>
  </ul>
</footer> 



</html>
